spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/camp
    username: camp
    password: camp
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
app:
  jwt:
    secret: ${APP_JWT_SECRET:replace-with-very-long-secret-string-at-least-32-bytes}
